
week1/.idea/

.idea/

week 2-2-Using state in Jetpack Compose/.gradle/7.1.1/executionHistory/

week 2-2-Using state in Jetpack Compose/.gradle/7.1.1/fileHashes/

week 2-2-Using state in Jetpack Compose/.gradle/buildOutputCleanup/

week 3-1-Jetpack Compose theming/.gradle/

week 3-2-Jetpack Compose Animation/.gradle/

week 3-3-Jetpack Compose Navigation/.gradle/

.DS_Store

week 4-1-Testing in Jetpack Compose/.gradle/

local.properties
